.slideshow{
    background-color: #F8E0C9;
    float: left;
    width: 50%;
    height: 100vh;
} 

.contentHalf{
    float: right;
    width: 50%;
    height: 100vh;
    background-color: #ffffff;
}
  
.copyright{
    margin-top: 175px;
    font-size: 15px;
    width: 50% a;
    color: black;
}

.emailBox{
    margin-left: 25%;
    margin-right: 25%;
}

.passwordBox{
    margin-left: 25%;
    margin-right: 25%;
}

.loginButton{
    width: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.forgotPWD{
    background: none;
    border: none;
    font-weight: bold;
    font-size: 13px;
    width: 118px !important;
}

.register{
    background: none;
    border: none;
    font-weight: bold;
    font-size: 13px;
    width: 68px !important;
}

.loginBox{
    margin-top: 30px;
    background-color: red;
}

.loginPhoto{
	height: 100vh;
	width: 95vh;
}

.forgotPasswordCard{
	height: 75vh;
    width: 75vh;
}

.forgotPWDName{
	font-size: 40px;
	padding-bottom: 20px;
}

.forgotPWDInstructions{
	font-size: 20px;
}

.forgotPWDEmail{
	width: 75% !important;
	margin-top: 20px !important;
}

.forgotPWDLogo{
	width: 75px;
	height: 75px;
}

.forgetPWDAlert{
	margin-top: 20px !important;
}