.move {
    margin-left: 15%;
    color: black;
    text-align: left;
    margin-top: 1%;
}

.orgHomeTitle {
    font-size: 30px;
}

/* .orgPortalTop {
    padding-bottom: 10px;
  } */
  
.addEventBtn {
    margin: 0;
}
  


.orgHomeTopRow {
    display: flex;
    justify-content: space-between;
}

.nextEvent {
    width: 48%;
}
.feedback {
    padding-right: 5%;
}

.subtitle {
    font-size: 22px;
    margin-bottom: 10px;
}
.statCards {
    text-align: left;
    margin-top: 15px;
}
.stat {
    font-size: 50px;
    padding: 0 0 0 3px;
}
.statTitle {
    font-size: 25px;
    padding: 0 10px 5px;
}
.orgHomeBottomRow {
    display: flex;
}
