.move {
    margin-left: 15%;
    color: black;
    text-align: left;
    margin-top: 1%;
}

.orgHomeTitle {
    font-size: 30px;
}

/* .orgPortalTop {
    padding-bottom: 10px;
  } */
  
.addEventBtn {
    margin: 0;
}
  


.orgHomeTopRow {
    display: flex;
    justify-content: space-between;
}

.nextEvent {
    width: 48%;
}
.feedback {
    padding-right: 5%;
}

.subtitle {
    font-size: 22px;
    margin-bottom: 10px;
}
.statCards {
    text-align: left;
    margin-top: 15px;
}
.stat {
    font-size: 50px;
    padding: 0 0 0 3px;
}
.statTitle {
    font-size: 25px;
    padding: 0 10px 5px;
}
.orgHomeBottomRow {
    display: flex;
}

.unreadIcon {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: lightskyblue;
    margin-right: 10px;
    margin-bottom: 20px;
}

.eventChart{
	margin-top: 10px;
	margin-left: 5%;
}

.moveCards{
	margin-left: 2%;
	margin-top: 4.5% !important;
}

.moveY{
	margin-right: 20px !important;
}

.chartModal{
	height: 500px !important;
	width: 2000px !important;
	overflow: scroll !important;
}

.blurChart{
	cursor: pointer;
}

.fullChartImage{
	width: 2000px;
	overflow: scroll;
}

.chartDialogTitle{
	font-size: 25px !important;
	margin-top: -30px !important;
}

.defaultChart{
	margin-left: 30px;
	margin-top: 20px;
	width: 75%;
}

.addChartSpace{
	margin-top: 20px;
}

.chartClose{
	position: fixed;
	right: 80px;
	background: none;
    border: none;
}

.chartClose:hover{
	color: red;
}