.moveSearch{
    margin-top: 10px;
    margin-left: 25%;
}

.moveEverything{
    margin-left: 15%;
}

.exploreSearch{
    width: 500px !important;
    margin-bottom: 5%;
}

.exploreTitle{
    float: left;
    margin-right: -30px;
    font-size: 30px;
    font-family: "system-ui";
}

.eventTag{
    background-color: #bc70c8 !important;
    width: 100px;
    height: 30px;
    margin-top: 0px;
    margin-right: 10px;
    font-size: 20px;
    float: left;
    font-family: "system-ui";
    margin-bottom: 5px;
}

.RSVPbtn{
    float: left;
    margin-top: 100px;
    width: 120px;
    background-color: #5f5395;
    border: none;
}

.RSVPbtn:hover{
    background-color: #7566b4;
}
    
.addEventBtn:visited{
    background-color: #5f5395;
}

.iconInfo{
    margin-left: 13%;
}

.anIcon{
    float: left;
}

.logoandbg{
	position: relative;
	margin-bottom: 25px;
}

.cardBg{
	position: relative;
	z-index: 1;
}

.cardLogo{
	z-index: 2;
	width: 100px !important;
	left: 30%;
}
