ul.nav_list {
    list-style: none; 
    padding: 0; 
    margin: 0; 
  }

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 220px;
    background: #3C355A;
    padding: 6px 14px;
    z-index: 999;
}

.sidebar .logo_content .logo {
    color: #fff;
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
}

/* .logo_content .logo <-- style logo */

.logo_content .logo .logo_name {
    font-size: 25px;
    font-weight: 400;
}

.menuIcon {
    position: absolute;
    color: #fff;
    left: 90%;
    top: 17px;
    font-size: 20px;
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 30px;
    transform: translateX(-80%);
}

.sidebar ul{
    margin-top: 30px;
}

.sidebar ul li {
    position: relative;
    height: 50px;
    width: 100%;
    /* margin: 0 5px; */
    list-style: none;
    line-height: 40px;
}

.sidebar ul li a {
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.1s ease;
    border-radius: 0 6px 6px 0;
    padding: 2px 6px;
}

.sidebar ul li a:hover{
    color: #ffffff;
    background: #2f2b4f;
    /* padding: 3px 6px; */
    border-left: 1px solid rgb(228, 228, 228);
}
.sidebar ul li a .links_name {
    font-size: 18px; 
    font-weight: 375;

  }


ul.nav_list li a .homeIcon,
ul.nav_list li a .searchIcon,
ul.nav_list li a .historyIcon,
ul.nav_list li a .settingsIcon {
    margin-right: 25px;
    /* border-radius: 12px;
    height: 60px; */
    /* line-height: 30px; */
    font-size: 23px;
    text-align: center;
}

.sidebar .profile_content {
    position: absolute;
    color: #fff;
    bottom: 0;
    left: 0;
    width: 100%;
}

.sidebar .profile_content .profile {
    position: relative;
    padding: 10px 6px;
    height: 60px;
    background: #312c4b;
}

.sidebar .profile_content .profile .profile_details {
    display: flex;
    align-items: center;
}

.profile .profile_details img {
    height: 45px;
    width: 45px;
    object-fit: cover;
    border-radius: 9px;
}

.profile .profile_details .name_job {
    margin-left: 10px;
}

.profile .profile_details .name {
    font-size: 15px;
    font-weight: 400;
}
.profile .profile_details .job {
    font-size: 13px;
}

.logoutIcon {
    position: absolute;
    left: 88%;
    bottom: 5px;
    transform: translateX(-50%);
    min-width: 50px;
    line-height: 50px;
    font-size: 30px;
    border-radius: 12px;
}