.orgNav{
    position: fixed; 
    z-index: 1;
    top: 0px; 
    width: 150px;
    height: 100vh;
    background-color: #5f5395;
}

.navbar,
.navbar-collapse {
  width: 100%;
  height: 100%;
  flex-direction: column;
}
.navbar-expand-lg .navbar-nav {
  flex-direction: column;
}

.luWrapper{
  background: none;
  border: none;
}

.headerTitleLogo{
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 20px;
    color: white;
}

.logoHeader{
    width: 50px;
    height: 50px;
}
  
.titleHeader{
    font-size: 18px;
    margin-left: 15px;
}

.headerLink{
    float: right;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 25px;
    color: white;
    font-family: "League Spartan";
}

.title{
    margin-right: 20px;
}

.bottom{
    margin-top: 200px;
}

.logoutIcon:hover{
    color: red;
}
  
.logoutIcon:active{
    color: white;
}
  
.logoutIcon{
    color: white;
}

.ucfLogo{
    margin-top: 60px;
    width: 70px;
    height: 70px;
}