.header{
    margin-top: 25px;
    margin-bottom: 100px;
    font-size: 50px;
    font-family: "League Spartan";
}

.semesterGoal{
    margin-left: 25%;
}

.goalQuestion{
    font-size: 25px;
    width: 300px;
    font-family: "League Spartan";
    word-wrap: break-word;
    float: left;
    margin-right: 75px;
}

.logoStyle{
    width: 75px;
    height: 75px;
}

.tagQuestion{
    font-size: 25px;
    font-family: "League Spartan";
    margin-bottom: 10px;
}

.tagChip{
    margin-right: 10px !important;
    margin-top: 10px !important;
}

.allTags{
    margin-left: 30px;
    margin-right: 30px;
}

.submitBtn{
    margin-top: 75px;
    width: 150px;
    background-color: #5f5395;
    border: none;
}
    
.submitBtn:hover{
    background-color: #7566b4;
}

.submitBtn:visited{
    background-color: #5f5395;
}

.submitBtn:active{
    background-color: #5f5395;
}
    