
.header{
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: 50px;
    font-family: "League Spartan";
}

.semesterGoal{
    margin-left: 25%;
}

.profilePicSelect{
    margin-left: 40%;
}

.goalQuestion{
    font-size: 25px;
    width: 300px;
    font-family: "League Spartan";
    word-wrap: break-word;
    float: left;
    margin-right: 75px;
}

.logoStyle{
    width: 75px;
    height: 75px;
}

.tagQuestion{
    font-size: 25px;
    font-family: "League Spartan";
    margin-bottom: 10px;
}

.tagChip{
    margin-right: 10px !important;
    margin-top: 10px !important;
}

.allTags{
    margin-left: 30px;
}

.submitBtn{
    margin-top: 75px;
	margin-bottom: 20px;
    width: 150px;
    background-color: #5f5395;
    border: none;
}
    
.MuiChip-clickable:hover {
	background-color: yellow;
}

.submitBtn:hover{
    background-color: #7566b4;
}

.submitBtn:visited{
    background-color: #5f5395;
}

.submitBtn:active{
    background-color: #5f5395;
}

.selectPPic{
	background-color: #5f5395;
	border: none;
	margin-left: 30px;
}

.selectPPic:hover{
    background-color: #7566b4;
}

.selectPPic:visited{
    background-color: #5f5395;
}

.selectPPic:active{
    background-color: #5f5395;
}

.pPicQ{
	font-size: 25px;
    font-family: "League Spartan";
	width: 300px;
	float: left;
}

.picStyle{
	width: 100px !important;
	height: 100px !important;
}

.socials{
	margin-bottom: 50px;
}

.pvq{
	overflow-x: hidden;
}

@media (max-width: 700px) {
	.socials{
	}	
	
}