
.header{
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: 45px;
}

.profilePicSelect{
    margin-left: 30%;
}

.goalQuestion{
    font-size: 25px;
    width: 450px;
    word-wrap: break-word;
	margin-bottom: 25px;
}

.logoStyle{
    width: 60px;
    height: 60px;
}

.tagQuestion{
    font-size: 25px;
    margin-bottom: 10px;
}

.tagChip{
    margin-right: 10px !important;
    margin-top: 10px !important;
}

.allTags{
    margin-left: 7%;
    margin-right: 7%;
    border: 1px solid #ededed; /* Border color */
    padding: 10px; /* Padding around the tags */
    border-radius: 5px; /* Optional: Rounded corners */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.07); /* Optional: Box shadow */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.stepBtn{
    margin-top: 50px;
	margin-bottom: 10px;
    width: 150px;
    background-color: #5f5395;
    border: none;
}

.submitBtn{
    margin-top: 50px;
	margin-bottom: 10px;
    width: 150px;
	margin-left: 25px;
    background-color: #5f5395;
    border: none;
}
    
.MuiChip-clickable:hover {
	background-color: yellow;
}

.submitBtn:hover{
    background-color: #7566b4;
}

.submitBtn:visited{
    background-color: #5f5395;
}

.submitBtn:active{
    background-color: #5f5395;
}

.selectPPic{
	background-color: #5f5395;
	border: none;
	margin-left: 30px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.selectPPic:hover{
    background-color: #7566b4;
}

.selectPPic:visited{
    background-color: #5f5395;
}

.selectPPic:active{
    background-color: #5f5395;
}

.pPicQ{
	font-size: 25px;
	width: 300px;
	float: left;
}

.picStyle{
	width: 100px !important;
	height: 100px !important;
	margin-left: 100px;
}

.orgPicStyle{
	z-index: 2 !important;
	position: absolute !important;
}

.bgStyle{	
	position: relative;
	height: 200px !important;
	width: 300px !important;
	z-index: 1;
}

.socials{
	margin-bottom: 50px;
}

.pvq{
	overflow-x: hidden;
}

.descriptionArea{
	margin-bottom: 50px;
}

.descriptionBox{
	width: 40% !important;
}

.smallText{
	font-size: 18px;
	font-family: "league spartan";
	color:rgb(105, 105, 105);
}

.stepper{
	margin-bottom: 20px;
}

@media (max-width: 700px) {
	.socials{
	}	
	
}