.orgProfilePage {
    margin-left: 14vw;
    margin-right: 2vw;
    text-align: left;
    position: relative;
}

.orgProfileTitle {
    font-size: 30px;
}

.navTabs {
    float: right;
    width: calc(82% - 80px);
    /* width: 76%; */
    margin-right: 20px;
	z-index: 300 !important;
	position: relative;
}

.orgBannerFiller {
    width: 100%;
    height: 210px;
    border-radius: 25px;
}

.orgBox {
    width: 230px;
    /* height: 320%; */
    height: calc(100vh - 35%);
    border-radius: 14px;
    position: relative; /* overlay */
	z-index: 200 !important;
	margin-top: -125px;
    margin-left: 2%; 
    /* bottom: 10%;  */
    border: 1px solid #eaeaea;
    justify-content: center;
	float: left;
}

.lightOrgBox{
	background-color: rgb(250, 250, 250);
}

.darkOrgBox{
	background-color: #423e3e;
}

.feedbackEvent{
	width: 100%;
}

.hideScroll{
	overflow: hidden !important;
}

.feedbackModal{
	height: 100% !important;
	width: 600px !important;
}

.tagModal{
	height: 1000px !important;
	width: 100% !important;
}

.pfpModal{
	height: 630px !important;
	width: 100% !important;
}

.feedbackTitle{
	margin-left: -20px !important;
}

.dialogTitle{
	font-size: 25px !important;
}

.feedbackTxt{
	overflow-y: none !important; 
	max-width: 500px;
	max-height: 400px;	
	word-wrap: break-word;
}

.theContent{
	max-width: 100%;
    word-wrap: break-word;
}

.navSubTitle {
    font-size: 20px;
    color: #7a7a7a;
}

.navSubTitleOH{
    font-size: 20px;
    color: #7a7a7a;
	margin-top: 25px;
}

.navParagraphText {
    font-size: 17px;
    font-weight: 370;
	white-space: pre-wrap;
	word-wrap: break-word;
	max-width: 100%;
}

.editDescription {
    font-size: 17px;
    font-weight: 370;
	width: 70%;
}

.profileEmail {
    display: flex;
    align-items: center;
    padding-top: 20px;
}

.websiteSize{
	font-size: 20px;
}

.navContactText {
    font-size: 18px !important;
    padding-left: 12px;
}

.contactBox {
    margin-top: 10px;
}

.sch {
    width: 95%;
    /* height: 700px; */
    
}

.ratingNum {
    font-size: 50px;
    font-weight: 340;
}

/* .ratingAvg {
    display: flex;
} */

.ratingtopcol {
    display: flex;
}

.items{
	width: 100%;
	margin-top: 30px;
	margin-left: 40%;
}

.orgName{
	font-size: 25px;
	max-width: 100px !important;
	text-align: center;
	word-wrap: break-word;
	margin-left: -12%;
	margin-bottom: 10px;
}

.orgNameEdit{
	margin-left: -30% !important;
	width: 75%;
	margin-bottom: 20px !important;
}

.editBtn{
	width: 125px;
    height: 40px;
    margin-top: 3%;
    background-color: #5f5395;
	color: white;
    border: none;
	border-radius: 10px;
	margin-left: -18% !important;
	margin-bottom: 25px;
}

.editSocialsBtn{
	width: 125px;
    height: 40px;
    background-color: #00785A;
    border: none;
	border-radius: 10px;
	margin-left: -18% !important;
	margin-bottom: 25px;
}

.editInterestsBtn{
	width: 125px;
    height: 40px;
    background-color: #F5D6BA;
	color: black;
    border: none;
	border-radius: 10px;
	margin-left: -18% !important;
	margin-bottom: 25px;
}

.favBtn{
	background: none;
    border: none;
	margin-left: -10%;
	margin-top: -10px;
}

.favorited{
	color: yellow;
	width: 75px !important;
	height: 100px !important;
	border: 1px black;
}

.favorited:hover{
	color: rgb(254, 254, 102);
}

.notFavorited{
	width: 75px !important;
	height: 100px !important;
}

.notFavorited:hover{
	color: rgb(254, 254, 102);
}

.profileSocials{
	margin-left: -16%;
}

.social{
	float: left;
	margin-right: 7px;
}

.tagSection{
    margin-left: 7%;
    margin-right: 7%;
	width: 600px;
	height: 90%;
    border: none;
    padding: 10px; /* Padding around the tags */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.interests{
	margin-top: 60px !important;
	margin-left: -3%;
}

.interestsName{
	font-size: 20px;
	margin-left: -5%;
	margin-bottom: 10px;
}

.tags{
	width: 90%;
	margin-left: -30%;
	padding-bottom: 20px !important;
}

.tag{
    background-color: rgb(89, 80, 130) !important;
    color: rgb(240, 240, 240) !important;
    width: auto !important;
	height: auto !important;
    margin-top: 0px;
    font-size: 15px;
    float: left;
    font-family: "system-ui";
    margin-bottom: 5px;
	margin-right: 5px;
	border-radius: 10px !important;
	padding-left: 5px;
	padding-right: 5px;
	box-shadow: none !important;
}

.addSpace{
	margin-left: 5px;
	margin-right: 5px;
}

.hoverImage:hover{
	cursor: pointer;
}

.starNum{
	font-size: 17px;
	margin-right: 10px;
}

.picContainer{
	position: relative;
}

.picAvatar{
	display: block;
}

.defaultPFP{
	width: 100px !important;
	height: 100px !important;
	margin-right: 20px;
	margin-bottom: 20px;
}

.editIcon{
	position: absolute; 
	bottom: 15px; 
	left: 60px;
	width: 20px;
	height: 20px;
	border: 2px solid black;
	background-color: white;
	color: black;
	border-radius: 15px;
}

.editIcon:hover{
	cursor: pointer;
	color: red !important;
}

.heartIconBehind{
	position: absolute; 
	bottom: -1px; 
	left: 40.85px;
	color: black;
	background: none !important;
}

.heartIcon{
	position: absolute; 
	bottom: 0px; 
	left: 40px;
	width: 30px;
	background: none !important;
}

.heartIcon:hover{
	cursor: pointer;
}

.whiteHeart{
	color: white !important;
}

.redHeart{
	color: red !important;
}

.hoverHeart{
	color: lightcoral !important;
}

.pfpFormatSelect{
	position: absolute !important; 
	top: 0px !important; 
	left: 400px !important;
}

.editIconBanner{
	position: absolute; 
	bottom: 37%; 
	right: 50%;
	border: 2px solid black;
	background-color: white;
	border-radius: 15px;
	height: 50px;
	width: 50px;
}

.editIconBanner:hover{
	cursor: pointer;
	color: red;
}

.blurBanner{
	filter: blur(3px);
}

.helpTT{
	word-wrap: break-word;
	width: 225px !important;
}

.helpLogo{
	width: 16px !important;
	margin-left: 3px;
	margin-bottom: 15px;
}

/* .MuiSvgIcon-root.css-i4bv87-MuiSvgIcon-root {
    fill: red;  
} */

  .css-nl6has .MuiSvgIcon-root.css-i4bv87-MuiSvgIcon-root {
    background-image: url('./plus-icon.svg');  /* Replace 'path/to/plus-icon.svg' with the actual path to your plus icon SVG file */
    background-size: contain;
    background-repeat: no-repeat;
    fill: transparent;  /* To make sure the original fill color is not applied */
  }

  .css-llvhl4-MuiTypography-root {
    font-family: "Roboto";
  }