.orgProfilePage {
    margin-left: 15%;
    margin-right: 2%;
    color: black;
    text-align: left;
    margin-top: 1%;
}

.orgProfileTitle {
    font-size: 30px;
}

.navTabs {
    width: 50%;
}

.orgBannerFiller {
    background-color: rgb(199, 199, 199);
    width: 100%;
    height: 200px;
    border-radius: 20px;
}