.aboutContainer {
    margin: 80px 20px 20px 20px;
}
.aboutTitle {
    font-size: 40px;
    font-weight: 30;
    margin-bottom: 25px;
}
.aboutParagraph {
    font-size: 20px;
    font-weight: 30;
}
.aboutTopRow {
    display: flex;
    margin-bottom: 20px;
}
.lottieImage {
    margin-right: 500px;
    align-items: center;
}
.aboutParagraph {
    text-align: left;
}
.lottie {
    margin-right: 20%;
}