.teamName {
    font-size: 25px;
    font-weight: 120;
}
.teamRole {
    font-size: 19px;
    font-weight: 85;
}
.teamTitle {
    font-size: 40px;
    font-weight: 30;
    margin-bottom: 25px;
}
.teamBackground {
    background-color: #F5D6BA;
}
.teamContainer {
    margin: 80px 20px 20px 20px;
}