
.studAnnouncementsPage {
    margin-left: 225px;
    margin-top: 1%;
    margin-right: 2%;
}


.studAnnouncementsPage.dark {
    margin-left: 225px;
    margin-top: 1%;
    margin-right: 2%;
}


.topSection {
    margin-bottom: 12px;
	max-width: 400px;
}

.announcementSection {
    text-align: left;
}
    
.StudentAnnouncements-title {
	font-size: 38px;
	text-align: left;
}

.StudentAnnouncements-subtitle {
	font-size: 25px;
	margin-bottom: 10px;
}
    
.contentWrap{
	word-wrap: break-word
}

.hoverOrgName:hover{
	cursor: pointer;
	color: rgb(143, 143, 255) !important;
}

.orgPicAnn{
	width: 20px !important;
	height: 20px !important;
	margin-right: 5px;
	float: left;
}

.modalOrgPic{
	width: 25px !important;
	height: 25px !important;
}

@media (max-width: 600px) {
	.shortenSearch{
		margin-top: 20% !important;
		margin-left: -150px !important;
	}
}