
.studAnnouncementsPage {
    color: black;
    margin-left: 225px;
    margin-top: 3%;
    margin-right: 2%;
    text-align: left;
}

.StudentAnnouncements-title {
    font-size: 30px;
}
.StudentAnnouncements-subtitle {
    font-size: 25px;
    margin-bottom: 10px;
}
.search {
    /* aligns search bar to center of the page
    display: flex;
    flex-direction: column;
    align-items: center; */
    margin-top: 20px;
}
.results {
    margin-top: 25px;
}
.updateOrgTitle {
    font-size: 17px;
    margin-left: 12px;
}
.date {
    font-size: 17px;
    color: rgb(113, 113, 113);
}
.updateDescription {
    font-size: 15px;
    color: rgb(113, 113, 113);
    padding-top: 5px;
    padding-left: 10px;
}
.updateTitle {
    font-size: 20px;
}
.divider {
    margin-top: 7px;
    border-top: 1px solid #dadada;
    width: 100%;
}
.cardResult {
    margin-bottom: 10px;
}
.cardResult:hover {
    background-color: #f2f2f2;
    cursor: pointer;
    transition: ease 0.2s all;
}


