
.historyDetails{
	margin-left: 25%;
}

.eventPic{
	width: 100px !important;
	height: 100px !important;
}

.listsItems{
	margin-left: 22.5% !important;
}

.historyProgress{
	margin-top: 25%;
}

.historyPagination{
	margin-right: 11%;
}

.topTitle{
	position: absolute;
	top: 95px;
}

.historyTitle{
	float: left;
	margin-bottom: 20px;
	font-size: 38px;
	font-family: "system-ui";
}    

.hoursColor{
	color: green;
}

@media (max-width: 1100px) {
    .eventPic{
      float: right !important;
    }
	.listsItems{
		margin-left: 15% !important;
	}
	.historyPagination{
		margin-right: 5% !important;
	}
}

@media (max-width: 700px) {
    .eventPic{
      float: right !important;
	  margin-left: 80px !important;
    }
}