.move{
    margin-left: 15%;
}
 
.orgSearch{
	width: 500px !important;
    margin-bottom: 5%;
}

.theTop{
	width: 100%;
}

.moveSearch{
    margin-top: 10px;
}

.cards{
    margin-left: 8px;
    margin-top: 10px;
	text-align: center;
	background: none !important;
}

.rowCards{
	overflow-y: none !important;
    display: inline-block !important;
    max-height: 1000px;
}

.eventsPagination{
    margin-left: 40% !important;
}

.cardWhite{
	overflow-y: none;
    width: 100%;
}

.card-body{
    width: 99%;
	background-color: none !important;
}

.titleHeader{
	font-size: 18px !important;
}

.upcomingEvents{
    width: 100%;
    height: 25%;
    text-align: left;
    font-size: 30px;
    margin-bottom: 30px;
}

.centerCards{
	text-align: center !important;
}

.event{
	background: none !important;
    min-width: 275px;
    max-width: 275px;
    margin-right: 2%;
    margin-bottom: 20px;
    float: left;
}

.MuiCard-root{
    flex-direction: column;
    height: 100%;
}

.eventsCard{
    width: 100%;
	background: none !important;
	background-color: none !important;
}
  
.yourEvents{
    text-align: left;
    margin-top: 20px;
    font-size: 20px;
    margin-bottom: 50px;
}

.spartan{
    font-family: "system-ui";
}

.eventHeight{
    min-height: 275px;
    max-height: 275px;
}

.eventName{
    font-size: 20px !important;
}

.eventDate{
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0px;
}

.centerAEB{
	text-align: center !important;
}

.addEventBtn{
    background-color: #5f5395;
    border: none;
	box-shadow: none !important;
}

.addEventBtn:hover{
    background-color: #7566b4;
}

.addEventBtn:visited{
    background-color: #5f5395;
}

.addEventBtn:active{
    background-color: #5f5395;
}

.picBtn{
	background-color: #5f5395;
	margin-top: 10px;
	border: none;
	float: left;
}

.picBtn:hover{
    background-color: #7566b4;
}

.picBtn:visited{
    background-color: #5f5395;
}

.picBtn:active{
    background-color: #5f5395;
}

.imgDemo{
	float: left;
	margin-left: 10px;
	width: 50px;
	height: 50px;
}

.addEventModalCard{
    height: 75vh;
    width: 75vh;
    overflow-y: scroll !important;
}

.eventModalCard{
    height: 90vh;
    width: 100vh;
    overflow-y: scroll !important;
}

.qrCodeCard{
	height: 75vh;
    width: 75vh;
    overflow-y: scroll !important;
	overflow-x: hidden !important;
}

.boxStyle{
    display: "flex";
    flex-direction: "column";
    align-items: "center";
}

.closeAddEvent{
    margin-left: 95%;
    background: none;
    border: none;
	color: white;
}

.closeAddEvent:hover{
    color: red;
}

.addEventHeader{
    float: left;  
    margin-bottom: -8px; 
}

.eventInterest{
    background-color: rgb(89, 80, 130) !important;
	color: rgb(240, 240, 240) !important;
    min-width: 100px;
    width: auto !important;
    height: 25px;
    margin-top: 0px;
    margin-right: 20px;
    font-size: 17px;
    float: left;
    font-family: "system-ui";
    margin-bottom: 5px;
	border-radius: 20px !important;
	padding-left: 10px;
	padding-right: 10px;
	box-shadow: none !important;
}

.eventInterestAdd{
    background-color: rgb(89, 80, 130) !important;
	color: rgb(240, 240, 240) !important;
    min-width: 100px;
    width: auto !important;
    height: 25px;
    margin-top: 0px;
    margin-right: 5px;
    font-size: 17px;
    float: left;
    font-family: "system-ui";
	border-radius: 10px !important;
	padding-left: 8px;
	padding-right: 8px;
	box-shadow: none !important;
}

.upcomingEventsSpace{
    margin-top: 3%;
    margin-bottom: 6%;
}

.cardSpace{
	margin-left: 1% !important;
}

.boxImg{
    width: 100%;
    height: 300px !important;
}

.bigName{
    font-size: 40px;
    text-align: left;
	margin-left: 10px;
	margin-top: 5px;
    margin-bottom: 10px;
}

.description{
    font-size: 20px;
    white-space: pre-wrap;
	text-align: left;
	margin-bottom: 30px;
	margin-left: 20px;
}

.volunteerSpaceStudent{
	margin-left: 30%;
	font-size: 18px;
	text-align: left;
}

.volunteerSpaceOrg{
	margin-left: 30%;
	font-size: 18px;
}

.editEventBtn{
    background: none;
    border: none;
}

.deleteEventBtn{
    background: none;
    border: none;
}

.logoBtn:hover{
	cursor: pointer;
}

.searchSwitch{
    margin-left: 100px;
}

.volunteersBtn{
    background: none;
    border: none;
    color: gray;
}

.volunteersBtn:hover{
    color: #00785A;
}

.volunteersBtn:active{
    color: #02be8f;
}

.volSpace{
	margin-bottom: 5px;
}

.volRound{
	border-radius: 7px;
	margin-left: 10px;
}

.volunteerList{
    margin-bottom: 50px !important;
	border-radius: 10px;
	border-color: gray;
}

.volunteerListDark{
    margin-bottom: 50px !important;
	border-radius: 10px;
	border-color: black;
    background-color: gray;
}

.volunteerList:hover{
    cursor: context-menu;
}

.addFL{
	float: left;
}

.volunteerItem{
    width: 200px;
	display: none;
}

.volunteerName{
    margin-left: 20px;
}

.volunteerPic{
    width: 20px;
    height: 20px;
}

.anIcon{
    float: left;
	margin-right: 10px;
}

.checkName{
	font-size: 50px;
}

.qrCodeEvent{
	padding-top: 2%;
	padding-bottom: 5%;
	font-size: 30px;
	padding-left: 100px;
	padding-right: 100px;
}

.qrCodeInstructions{
	padding-bottom: 5%;
	padding-left: 100px;
	padding-right: 100px;
	font-size: 25px;
}

.qrCode{
	width: 275px;
	height: 275px;
}

.qrTop{
	background-color: #00785A;
}

.qrLogo{
	width: 75px;
	height: 75px;
}

.addHover:hover{
	cursor: pointer;
}

.hourModal{
	height: 350px !important;
	width: 450px !important;
	overflow: none !important;
}

.addAlertSpace{
	margin-top: 15px;
}

.notoCircle{
	border-radius: 100%;
	width: 10%; 
	margin-bottom: 30px;
	line-height: 15px; 
	font-size: 10px;
	position: absolute;
	right: 12px;
	top: 5px;
	background-color: red;
    color: white;
    text-align: center !important;
}

.largerChip{
	width: 100px;
}

.cardCalendar{
	width: 20px !important;
	margin-right: 3px;
}

@media (max-width: 1100px) {
    .orgSearch{
       width: 300px !important;
    }
}

@media (max-width: 1500px) {
	.event{
		margin-right: 5%;
	}

	.eventsCard{
		width: 95%;
	}
}

@media (max-width: 1290px) {
	.event{
		margin-right: 10%;
	}

	.cards{
		margin-left: 0px;
	}

	.eventsCard{
		width: 85%;
	}
}


@media (max-width: 1045px) {
	.event{
		margin-right: 10%;
	}

	.cards{
		margin-left: 0px;
	}

	.eventsCard{
		width: 315px;
	}
}

@media (max-width: 600px) {
	.eventsPagination{
		margin-left: 10% !important;
	}
}
