.studentDetailsContent {
    margin-left: 15%;
    margin-right: 3%;
    text-align: left;
    margin-top: 1%;
}
.studentDetailsOutline {
    text-align: center;
}
.studentDetailsFields {
    margin-top: 30px;
    padding-top: 3vh;
    padding-right: 8vw;
    padding-left: 5vw;
    background-color: white;
    border-radius: 5px 5px 0 0;
    height: 100vh;
    font-size: 25px;
}
.studentDetailsFirst {
    display: flex;
    justify-content: space-between;
}
.studentDetailsLast {
    display: flex;
    justify-content: space-between;
}
.studentDetailsEmail {
    display: flex;
    justify-content: space-between;
}
.studentDetailsInterests {
    display: flex;
    justify-content: space-between;
}
.studentDetailsTotal {
    display: flex;
    justify-content: space-between;
}
.studentDetailsGoal {
    display: flex;
    justify-content: space-between;
}