.moveEverything{
    margin-left: 15%;
    margin-top: 2%;
}

.profilePic{
    width: 250px !important;
    height: 250px !important;
    margin-left: 75px;
    margin-right: -300px;
    float: left;
}

.name{
    font-size: 40px;
    font-family: "system-ui";
    color: black;
}

.topInfo{
    margin-left: 10%;
}

.profileContainer{
}

.volunteerSince{
    font-size: 20px;
    color: black;
    font-family: "system-ui";
}

.volunteerHours{
    font-size: 25px;
    color: black;
    font-family: "system-ui";	
    text-decoration-line: underline;
}

.email{
    font-size: 25px;
    color: black;
    font-family: "system-ui";
    word-wrap: break-word;
}

.mailIcon{
    font-size: 40px;
    margin-right: 20px;
}

.interestsTitle{
    font-size: 20px;
    color: rgb(152, 152, 152);
    font-family: "system-ui";
    word-wrap: break-word;
    text-align: left;
}

.interestsBorder{
    padding: 10px;
}

/* .interests{
    margin-top: 125px;
    margin-left: 25%;
    margin-bottom: 30% !important;
} */

.tagBox{
    /* min-width: 500px !important; */
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    max-width: calc(100vh - 33%);
    text-align: left;
}

.tag{
    margin-right: 20px;
    margin-bottom: 10px;
}

.favHeader{
	width: 100%;
	height: 25%;
	text-align: left;
	font-size: 30px;
	margin-bottom: 30px;
	color: black;
}

.cardSections{
    margin-top: 50px;
}

.editProfileBtn{
    width: 150px;
    height: 50px;
    margin-top: 3%;
    background-color: #5f5395;
    border: none;
}

.logoandbg{
	position: relative;
	margin-bottom: 25px;
}

.cardBg{
	position: relative;
	z-index: 1;
}

.cardLogo{
	z-index: 2;
	width: 100px !important;
	left: 30%;
}

.studentBoxe {
    background-color: rgb(249, 249, 249);
    width: calc(100vh - 33%);
    color: black;
    height: calc(100vh - 35%);
    border-radius: 14px;
    border: 1px solid #a8a8a8;
    display: flex;
    flex-direction: column;

    padding: 30px;
}

.studentBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}

.avatarPic {
    display: flex;
    align-items: flex-start; 
    justify-content: center;
    margin-bottom: 10px;

}

