.moveEverything{
    margin-left: 15%;
    margin-top: 2%;
}

.profilePic{
    width: 250px !important;
    height: 250px !important;
    margin-left: 75px;
    margin-right: -300px;
    float: left;
}

.name{
    font-size: 40px;
    font-family: "League Spartan";
    color: black;
}

.topInfo{
    margin-left: 10%;
}

.profileContainer{
}

.volunteerSince{
    font-size: 20px;
    color: black;
    font-family: "League Spartan";
}

.volunteerHours{
    font-size: 25px;
    color: black;
    font-family: "League Spartan";	
    text-decoration-line: underline;
}

.email{
    font-size: 25px;
    color: black;
    font-family: "League Spartan";
    word-wrap: break-word;
}

.mailIcon{
    font-size: 40px;
    margin-right: 20px;
}

.interestsTitle{
    font-size: 25px;
    color: black;
    font-family: "League Spartan";
    word-wrap: break-word;
}

.interestsBorder{
    border: 2px solid black;
    border-radius: 12px;
    float: left;
}

.interests{
    margin-top: 125px;
    margin-left: 25%;
    margin-bottom: 30% !important;
}

.tagBox{
    margin-left: 3%;
    min-width: 500px !important;

}

.tag{
    margin-right: 20px;
    margin-bottom: 10px;
}

.favHeader{
	width: 100%;
	height: 25%;
	text-align: left;
	font-size: 30px;
	margin-bottom: 30px;
	color: black;
}

.cardSections{
    margin-top: 50px;
}

.editProfileBtn{
    width: 150px;
    height: 50px;
    margin-top: 3%;
    background-color: #5f5395;
    border: none;
}

.logoandbg{
	position: relative;
}

.cardBg{
	position: relative;
	z-index: 1;
}

.cardLogo{
	z-index: 2;
	position: absolute;
	width: 100px !important;
	left: 30%;
	top: 25% !important;
}
