#emailVerified {
  font-size: 30px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.emailTitle {
  color: black;
}
.emailContent {
  color: black;
  font-size: 25px;
}

.verifyIcon {
  margin: 30px;
  color: #5B4E77;
  font-size: 150px;
}

.countdown {
  color: black;
}

.logoIcon {
  font-size: 50px;
}

.CardContainer {
  position: absolute;
  left: 50%;
  top: 62%;
  transform: translate(-50%, -60%);
}

.Card {
  max-width: 600px;
  min-height: 400px;
  width: 100%;
  text-align: center;
  display: flex; /* Use flexbox for the Card */
  flex-direction: column; /* Stack children vertically */
  align-items: center; /* Center children horizontally */
}

.message {
  font-size: 20px;
  color: red;
}

/* Add the following CSS to style the input field and button */
.Card .inputField {
  margin-bottom: 10px; /* Add margin between input and button */
}

.Card .submitBtn {
  margin-top: 10px; /* Adjust the margin as needed */
  margin-bottom: 10px; /* Adjust the margin as needed */
}
