.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.loginBox{
  margin-top: 50px;
}

.emailBox{
  margin-left: 25%;
  margin-right: 25%;
}

.passwordBox{
  margin-left: 25%;
  margin-right: 25%;
}

.center{
  text-align: center;
}

.loginButton{
  width: 15%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.card-body{
  background-color: #CCAFD8;
}

.titleLogo{
  margin-top: 100px;
  margin-bottom: 75px;
}

.title{
  margin-right: 20px;
}

.forgotPWD{
  background: none;
  border: none;
  font-weight: bold;
  font-size: 12px;
  width: 118px !important;
}

.register{
  background: none;
  border: none;
  font-weight: bold;
  font-size: 12px;
  width: 68px !important;
}

.logo{
  width: 100px;
  height: 100px;
}

.backgroundHalf{
  background-color: blue;
  float: left;
  height: 100vh;
  width: 50%;
} 

.contentHalf{
  float: right;
  width: 50%;
  height: 100vh;
  background-color: #a6579a;
}

.login{
  height: 100%;
  width: 100%;
}

.copyright{
  position: fixed; 
  bottom: 30px; 
  width: 50%;
  color: black;
}