.App {
  text-align: center;
}

a{
  text-decoration: none !important;
}

html, body {height: 100%}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.loginBox{
  margin-top: 50px;
}

.emailBox{
  margin-left: 25%;
  margin-right: 25%;
}

.passwordBox{
  margin-left: 25%;
  margin-right: 25%;
}

.center{
  text-align: center;
}

.loginButton{
  width: 100px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.card-body{
  background-color: #CCAFD8;
}

.titleLogo{
  margin-top: 70px;
  margin-bottom: 95px;
}

.title{
  margin-right: 20px;
  font-size: 50px;
}

.forgotPWD{
  background: none;
  border: none;
  font-weight: bold;
  font-size: 13px;
  width: 118px !important;
}

.register{
  background: none;
  border: none;
  font-weight: bold;
  font-size: 13px;
  width: 68px !important;
}

.logo{
  width: 100px;
  height: 100px;
}

.slideshow{
  background-color: blue;
  float: left;
  width: 50%;
  height: 100vh;
} 

.contentHalf{
  float: right;
  width: 50%;
  height: 100vh;
  background-color: #5f5395;
}

.login{
  height: 100%;
  width: 100%;
}

.orgPortal{
  height: 100%;
  width: 100%;
}

.copyright{
  margin-top: 175px;
  font-size: 15px;
  width: 50% a;
  color: black;
}

.orgNav{
  position: fixed; 
  top: 0px; 
  width: 10%;
  height: 100vh;
  background-color: #5f5395;
}

.logoHeader{
  width: 50px;
  height: 50px;
}

.titleHeader{
  font-size: 18px;
  margin-left: 15px;
}

.headerTitleLogo{
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 20px;
}

.org{
  background-color: white;
}

.loginPhoto{
	height: 100vh;
	width: 95vh;
}

.searchOrgButton{
  width: 200px !important;
  margin-right: 20px;
}

.searchOrgInput{
  width: 200px a !important;
}

.tabs{
  margin-left: 50px;
}

.headerLink{
  float: right;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 25px;
  color: white;
  font-family: "League Spartan";
}

.spartan{
  font-family: "League Spratan";
}

.bottom{
  margin-top: 300px;
}

.navbar,
.navbar-collapse {
  flex-direction: column;
}
.navbar-expand-lg .navbar-nav {
  flex-direction: column;
}

.luWrapper{
  background: none;
  border: none;
}

.logoutIcon:hover{
  color: red;
}

.logoutIcon:active{
  color: white;
}

.logoutIcon{
  color: white;
}