.App {
	text-align: center;
  }
  
  a{
	text-decoration: none !important;
  }
  
  html, body {
	height: 100%; 
	margin:0;
  }

  /* Default styles for light theme */
body.light {
	background-color: #ffffff;
	color: #000000;
  }
  
  /* Styles for dark theme */
  body.dark {
	background-color: #1e1e1e;
	color: #ffffff;
  }
  
  .App-logo {
	height: 40vmin;
	pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
	.App-logo {
	  animation: App-logo-spin infinite 20s linear;
	}
  }
  
  
  .App-link {
	color: #61dafb;
  }
  
  @keyframes App-logo-spin {
	from {
	  transform: rotate(0deg);
	}
	to {
	  transform: rotate(360deg);
	}
  }
  
  .center{
	text-align: center;
  }
  
  .titleLogo{
	margin-top: 70px;
	margin-bottom: 95px;
  }
  
  .logo{
	width: 100px;
	height: 100px;
  }
  
  .login{
	height: 100%;
	width: 100%;
  }
  
  .orgEvents{
	height: 100vh;
	width: 100%;
  }

  .orgEvents.dark{
	height: 100vh;
	width: 100%;
  }
  
  .tabs{
	margin-left: 50px;
  }
  
  .spartan{
	font-family: "system-ui";
  }
  
  .landing{
	min-width: 600px;
	background-color: white !important;
  }
  
  .explorePage{
	height: 100vh;
	width: 100%;
  }

  .explorePage.dark{
	height: 100vh;
	width: 100%;
  }
  
  .studentProfilePage{
	height: 100vh;
	width: 100%;
  }

  .studentProfilePage.dark{
	height: 100vh;
	width: 100%;

  }

  .studentAnnouncementsPage {
	height: 100vh;
	width: 100%;
  }

  .studentAnnouncementsPage.dark {
	height: 100vh;
	width: 100%;
	background-color: #1e1e1e;
  }
  
  .emailVerifiedPage {
	height: 100vh;
	width: 100%;
	background-color: white;
	color: black;
  }
  
  
  .postVerifyQsPage{
	height: 100vh;
	width: 100%;
	background-color: white;
	color: black;
  }
  
  .aboutUsPage {
	height: 100vh;
	width: 100%;
	background-color: white;
	color: black;
  }
  
  .contactPage{
	height: 100vh;
	width: 100%;
  }
  
  .orgHomePage{
	height: 100vh;
	width: 100%;
	}

.orgHomePage.dark{
	height: 100vh;
	width: 100%;
}

.orgProfile {
  height: 100vh;
  width: 100%;
}

.orgProfile.dark {
	height: 100vh;
	width: 100%;
	background-color: #1e1e1e;
  }
  
  .adminhomepage {
	height: 100vh;
	width: 100%;
	background-color: white;
	color: black;
  }

  .adminhomepage.dark {
	height: 100vh;
	width: 100%;
	background-color: #1e1e1e;
	color: white;
  }

  .lightLB{
		background-color: white !important;
		height: 100% !important;
	}

	.darkLB{
		background-color:#121212  !important;
		height: 100% !important;
	}
  
  .registerPage {
    background-image: url('./components/Register/filler-temp-background.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    /* background-color: rgb(53, 78, 98); */
    color: black;
  }

  .studentDetailsPage {
    text-align: left;
    color: black;
    background-color: rgb(246, 246, 246);
  }

  .unreadCircle{
	border-radius: 100%;
	width: 7px; 
	height: 7px;
	background-color: red;
	margin-right: 10px;
	margin-top: 8px;
	float: left;
  }

  .dividerSpaceNoto{
	margin-top: 0% !important;
	margin-bottom: 0% !important;
  }

  .orgNotoPic{
	width: 20px !important;
	height: 20px !important;
	margin-right: 15px;
	float: left;
  }

  .notoMessage{
	max-width: 300px;
	white-space: initial;
	float: left;
  }

  .StudentTopBar{
	margin-top: 0.5px;
	margin-bottom: 20px;
	outline-color: none;
  }

  .whiteBar{
	background-color: white !important;
  }

  .markAllBtn{
	margin-top: 3px;
	text-align: center !important;
  }

  .putTitleLeft{
	float: left !important;
	margin-left: 15% !important;
	align-content: left !important;
  }

  .privatePolicy{
	margin-left: 7px;
	color: #3C3C3E;
  }

  .noSpacePP{
	margin-left: 0px !important;
	color: #4E878C;
  }

  .privatePolicy:hover{
	cursor: pointer;
	text-decoration: underline !important;
  }

  .termsCheck{
	font-size: 15px;
	margin-top: 13px;
  }