.feedbackText{
	text-align: left;
	margin-top: 20px;
	font-size: 38px;
	margin-bottom: 30px;
}

.topSection {
    display: flex;
    margin-bottom: 12px;
    align-items: flex-start;
}

.announcementSection {
    text-align: left;
}
    
.StudentAnnouncements-subtitle {
	font-size: 25px;
	margin-bottom: 10px;
}

.cardRating{
	margin-top: 10px;
}

.cardRatingModal{
	padding-left: 70%;
}
    
.spaceRead{
	margin-right: 10px;
	float: left;
}
    
.centerProgress{
	margin-left: 33%;
	margin-top: 20%;
}

.emailSize{
	font-size: 13px;
}

.moveFromLeft {
	margin-left: 10%;
}

.closeFeedback{
	position: absolute;
	right: 10px;
	top: 10px;
	background: none;
    border: none;
}

.closeFeedback:hover{
    color: red;
}

@media (max-width: 700px) {
    .showDate{
        display: none;
    }
}